sudo: required
dist: trusty
env:
    global:
        - TARGET=iqn.2016-09.com.gotgt.gostor:example_tgt_0
    matrix:
        - TGT_CFG='{"storages":[{"deviceID":1000,"path":"file:/var/tmp/disk.img","online":true}],"iscsiportals":[{"id":0,"portal":"127.0.0.1:3260"}],"iscsitargets":{"iqn.2016-09.com.gotgt.gostor:example_tgt_0":{"tpgts":{"1":[0]},"luns":{"0":1000}}}}'
        - TGT_CFG='{"storages":[{"deviceID":1000,"path":"ceph-rbd:iscsi_pool/lun0","online":true}],"iscsiportals":[{"id":0,"portal":"127.0.0.1:3260"}],"iscsitargets":{"iqn.2016-09.com.gotgt.gostor:example_tgt_0":{"tpgts":{"1":[0]},"luns":{"0":1000}}}}'

language: go

go:
    - 1.6
    - 1.7
    - 1.8

install:
   - true

before_script:
    - echo ${TGT_CFG}
    - echo ${TARGET}
    - sudo apt-get update
    - ci/ceph_install.sh
    - bash ci/ceph_micro-osd.sh /tmp/micro-ceph
    - export CEPH_CONF=/tmp/micro-ceph/ceph.conf
    - ceph status
    - go get github.com/kr/godep
    - sudo apt-get install -y libcunit1 libcunit1-doc libcunit1-dev
    - sudo apt-get install -y open-iscsi

script:
   - cd ${TRAVIS_BUILD_DIR}
   - ./autogen.sh
   - ./configure
   - make
   - hack/verify-gofmt.sh
   - export GOPATH=`pwd`/Godeps/_workspace/:$GOPATH
   - go test -v ./pkg/...
   - dd if=/dev/zero of=/var/tmp/disk.img bs=1024 count=10240
   - mkdir ${HOME}/.gotgt
   - echo ${TGT_CFG} > ${HOME}/.gotgt/config.json
   - ./gotgt daemon --log debug 1>/dev/null 2>&1 &
   # libiscsi test
   - mkdir ${HOME}/libiscsi
   - git clone https://github.com/gostor/libiscsi ${HOME}/libiscsi
   - cd ${HOME}/libiscsi
   - export ISCSITEST=yes
   - ./autogen.sh
   - ./configure
   - make
   - ./test-tool/iscsi-test-cu -d -A --test=SCSI.TestUnitReady iscsi://127.0.0.1:3260/${TARGET}/0
   - ./test-tool/iscsi-test-cu -d -A --test=SCSI.ReadCapacity10 iscsi://127.0.0.1:3260/${TARGET}/0
   - ./test-tool/iscsi-test-cu -d -A --test=SCSI.ReadCapacity16 iscsi://127.0.0.1:3260/${TARGET}/0
   - ./test-tool/iscsi-test-cu -d -A --test=SCSI.Read10.Simple iscsi://127.0.0.1:3260/${TARGET}/0
   - ./test-tool/iscsi-test-cu -d -A --test=SCSI.Write10.Simple iscsi://127.0.0.1:3260/${TARGET}/0
   - ./test-tool/iscsi-test-cu -d -A --test=SCSI.Read16.Simple iscsi://127.0.0.1:3260/${TARGET}/0
   - ./test-tool/iscsi-test-cu -d -A --test=SCSI.Write16.Simple iscsi://127.0.0.1:3260/${TARGET}/0
   - ./test-tool/iscsi-test-cu -d -A --test=SCSI.Read32.Simple iscsi://127.0.0.1:3260/${TARGET}/0
   - ./test-tool/iscsi-test-cu -d -A --test=SCSI.Write32.Simple iscsi://127.0.0.1:3260/${TARGET}/0
   - ./test-tool/iscsi-test-cu -d -A --test=SCSI.WriteVerify10.Simple iscsi://127.0.0.1:3260/${TARGET}/0
   - ./test-tool/iscsi-test-cu -d -A --test=SCSI.WriteVerify16.Simple iscsi://127.0.0.1:3260/${TARGET}/0
   - ./test-tool/iscsi-test-cu -d -A --test=SCSI.WriteVerify32.Simple iscsi://127.0.0.1:3260/${TARGET}/0
   - ./test-tool/iscsi-test-cu -d -A --test=SCSI.Verify10.Simple iscsi://127.0.0.1:3260/${TARGET}/0
   - ./test-tool/iscsi-test-cu -d -A --test=SCSI.Verify12.Simple iscsi://127.0.0.1:3260/${TARGET}/0
   - ./test-tool/iscsi-test-cu -d -A --test=SCSI.Verify16.Simple iscsi://127.0.0.1:3260/${TARGET}/0
   - ./utils/iscsi-ls -s iscsi://127.0.0.1:3260/${TARGET}
   - ./utils/iscsi-inq iscsi://127.0.0.1:3260/${TARGET}/0
   - ./utils/iscsi-readcapacity16 iscsi://127.0.0.1:3260/${TARGET}/0
   # iscsi initiator test
   - sudo iscsiadm -m discovery -t sendtargets -p 127.0.0.1
   - sudo iscsiadm -m node -L all
   - sudo iscsiadm -m session
   - sudo fdisk -l
   - echo -e "n\np\n1\n\n\nt\nc\na\n1\nw" | sudo fdisk /dev/sdb
   - sudo mkfs.ext3 /dev/sdb1
   - sudo mkdir -p /var/tmp/test
   - sudo mount /dev/sdb1 /var/tmp/test
   - sudo ls -lh /var/tmp/test/

